* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --background-page: rgba(18, 18, 18, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(3, 0, 0, 1);
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--background-page);
  font-family: "Roboto", sans-serif;
  color: var(--black);
  display: flex;
  margin: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px;
  height: 150px;
  width: 1500px;
  overflow-y: hidden;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.arrow1 {
  margin-left: 75px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.arrow:hover {
  color: var(--white);
}

.bell {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleTool {
  margin: 0;
  width: 50px;
  height: inherit;
}
.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.scrollable-container {
  width: 750px;
  height: 1050px;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.scrollable-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
}

#audio-player-container {
  --seek-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
  position: relative;
  margin: 100px 2.5% auto 2.5%;
  width: 95%;
  max-width: 500px;
  height: 132px;
  background: #6b6b6b;
}
#audio-player-container::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(to left, #007db5, #ff8a00);
  z-index: -1;
}
#play-icon {
  margin: 20px 2.5% 10px 2.5%;
}
path {
  stroke: #007db5;
}
.time {
  display: inline-block;
  width: 37px;
  text-align: center;
  font-size: 20px;
  margin: 28.5px 0 18.5px 0;
  float: left;
}
output {
  display: inline-block;
  width: 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px 2.5% 0 5%;
  float: left;
  clear: left;
}
#volume-slider {
  margin: 10px 2.5%;
  width: 58%;
}
#volume-slider::-webkit-slider-runnable-track {
  background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
  background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
  background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
  width: var(--volume-before-width);
}
#mute-icon {
  margin: 0 2.5%;
}

.bell:hover {
  color: var(--white);
  scale: 1.09;
}
.premium {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 600px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(180, 184, 180);
  font-family: cursive;
  text-align: center;
  font-size: 16px;
  color: var(--white);
  border: 1.5px solid var(--white);
  cursor: pointer;
  margin-right: 10px;
}
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}
input[type="range"] {
  border-radius: 20px;
  width: 300px;
  color: gray;
}

.left-arrow {
  display: flex;
  fill: currentcolor;
  width: 50px;
  height: 50px;
}
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.settings > p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--white);
  opacity: 0.3;
  border-bottom: 1px solid var(--white);
}
.users {
  display: none;
}
.users-visible {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  border-left: 1px solid var(--white);
  cursor: pointer;
}
.imgCointener {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.wykonawcy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-left: 35px;
  color: var(--white);
  text-align: center;
  margin-bottom: 70px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 100px;
}
.premium:hover {
  color: var(--black);
  transition: 100ms;
  scale: 1.03;
}
.premium:active {
  scale: 1.1;
  color: var(--black);
  transition: 50ms;
}

/* Input */
label {
  display: flex;
  background-color: var(--white);
  width: 300px;
  height: 30px;
  padding: 7px;
  border-radius: 20px;
}

input {
  margin-left: 3px;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  border: none;
}

input:focus {
  outline: none;
  letter-spacing: 0.2mm;
}

.search {
  width: 20px;
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.search:hover {
  cursor: pointer;
}
.liked {
  position: absolute;
  top: 385px;
  right: 0;
  margin-right: 30px;
}

/* Aside - Leftbar */
.right-side {
  width: 400px;
  height: 600px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  right: 75px;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 50px;
  background-color: none;
  margin-top: 200px;
}
.title {
  text-align: center;
  color: var(--white);
  margin-top: 15px;
  font-size: 30px;
}
.background {
  position: absolute;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  top: 0;
  right: 0;
  width: 95%;
  height: 350px;
  margin-right: 10px;
  margin-top: 10px;

  border-radius: 20px;
}

aside {
  background: #000;
  width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  color: var(--white);
  gap: 20px;
}
.logo > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white);
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin: 5px;
  gap: 20px;
}
.Favorites {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin: 5px;
  gap: 20px;
  cursor: pointer;
}
.Favorites:hover {
  cursor: pointer;
  background-color: #328a32;
  transition: 100ms;
}

.box:hover {
  cursor: pointer;
  background-color: #328a32;
  transition: 100ms;
}

.img {
  width: 30px;
  height: auto;
  text-align: center;
}

h3 {
  color: var(--white);
  font-size: 14px;
}

aside > button {
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding-bottom: 20px;
  font-family: cursive;
  text-align: center;
  font-size: 16px;
}

aside .addPlaylist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

aside p {
  opacity: 0.3;
  color: var(--white);
  margin: 20px;
}

p {
  color: var(--white);
  opacity: 0.3;
  margin: 20px;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  width: 1600px;
}

.content {
  display: flex;
  align-items: center;
  margin: 35px;
  border-radius: 20px;
  width: 800px;
}
#favorites {
  display: none;

  width: 750px;
  margin-left: 80px;
}
.content > img {
  display: flex;
  flex: 1;
  border-radius: 20px;
}
.wykonawca {
  display: flex;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 300px;
  color: var(--white);
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  width: 750px;
  height: 50px;
  font-family: "Assistant", sans-serif;
  font-family: "Fuggles", cursive;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Young Serif", serif;
  font-size: 20px;
  border-bottom: 0.2px solid #ffffff;
  margin-left: 80px;
}
article {
  margin-left: 120px;
}
.song {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: var(--white);
  padding: 5px;
  gap: 10px;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
}

.imgSongs {
  text-align: center;
  width: 70px;
  height: 50px;
  border-radius: 20px;
  padding: 5px;
  gap: 15px;
}
span {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 5px;
  justify-content: space-evenly;
}

.songs {
  width: 750px;
  margin-left: 80px;
}
