* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --background-page: rgba(18, 18, 18, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(3, 0, 0, 1);
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--background-page);
  font-family: "Roboto", sans-serif;
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  flex-grow: 1;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  justify-content: space-around;
  height: 100px;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.arrow1 {
  margin-left: 75px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.arrow:hover {
  color: var(--white);
}

.bell {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell:hover {
  color: var(--white);
  scale: 1.09;
}
.premium {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 600px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: green;
  font-family: cursive;
  text-align: center;
  font-size: 16px;
  color: var(--white);
  border: 1.5px solid var(--white);
  cursor: pointer;
  margin-right: 10px;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.settings > p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--white);
  opacity: 0.3;
  border-bottom: 1px solid var(--white);
}
.users {
  display: none;
}
.users-visible {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  border-left: 1px solid var(--white);
  cursor: pointer;
}
.imgCointener {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.wykonawcy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-left: 35px;
  color: var(--white);
  text-align: center;
  margin-bottom: 70px;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.premium:hover {
  color: var(--black);
  border-color: green;
  transition: 100ms;
  scale: 1.03;
}
.premium:active {
  scale: 1.1;
  color: var(--black);
  transition: 200ms;
}

/* Input */
label {
  display: flex;
  background-color: var(--white);
  width: 300px;
  height: 30px;
  padding: 7px;
  border-radius: 20px;
}

input {
  margin-left: 3px;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  border: none;
}

input:focus {
  outline: none;
  letter-spacing: 0.2mm;
}

.search {
  width: 20px;
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.search:hover {
  cursor: pointer;
}

/* Aside - Leftbar */
.right-side {
  width: 400px;
  padding: 20px;
  position: fixed;
  display: none;
  right: 75px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: none;
}
.title {
  text-align: center;
  color: var(--white);
  margin-top: 15px;
  font-size: 30px;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 400px;
  z-index: -1;
  border-radius: 20px;
}

aside {
  background: #000;
  width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Set height to 100% */
}
/* setting - asside */

.aside-open {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.aside-closed {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
/*  */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  color: var(--white);
  gap: 20px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white);
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin: 5px;
  gap: 20px;
}
.Favorites {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin: 5px;
  gap: 20px;
  cursor: pointer;
}
.Favorites:hover {
  cursor: pointer;
  background-color: #328a32;
  transition: 100ms;
}

.box:hover {
  cursor: pointer;
  background-color: #328a32;
  transition: 100ms;
}

.img {
  width: 30px;
  height: auto;
  text-align: center;
}

h3 {
  color: var(--white);
  font-size: 14px;
}

aside > button {
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding-bottom: 20px;
  font-family: cursive;
  text-align: center;
  font-size: 16px;
}

aside .addPlaylist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

aside p {
  opacity: 0.3;
  color: var(--white);
  margin: 20px;
}

p {
  color: var(--white);
  opacity: 0.3;
  margin: 20px;
}

/* main */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  margin: 35px;
  margin-left: 150px;
  border-radius: 20px;
  width: 700px;
  height: 350px;
  flex: 1;
}
#favorites {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: var(--white);
  padding: 5px;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.content > img {
  display: flex;
  flex: 1;
  border-radius: 20px;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  width: 750px;
  height: auto;
  font-family: "Assistant", sans-serif;
  font-family: "Fuggles", cursive;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Young Serif", serif;
}
.song {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: var(--white);
  padding: 5px;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.imgSongs {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  padding: 5px;
  gap: 15px;
}
span {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 5px;
  justify-content: space-evenly;
}

.songs {
  width: 750px;
}
